.container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.circle {
  margin-top: 10px;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  border: 5px solid #307bbe;
  border-left-color: #e8e8e8;
  transform: rotate(45deg);
}
.percent {
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  margin: 0 20px;
  line-height: 0.75rem;
  border-right: 2px solid #e8e8e8;
  padding-right: 100px;
}
.text {
  color: #121212;
  font-size: 1rem;
  opacity: 0.5;
  margin-top: -15px;
}
.chapter {
  margin: 0 50px;
  margin-top: -10px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: #121212;
}
.current {
  font-size: 0.813rem;
  opacity: 0.5;
  text-transform: uppercase;
}
.chapter-number {
  font-size: 1rem;
  letter-spacing: -0.4px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: #121212;
  margin-top: -10px;

}
.btn-update {
  cursor: pointer;
  border: none;
  background-color: #0290ff;
  border-radius: 3px;
  padding: 8px 24px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #fff;
  margin-top: 5px;
}
.btn-update:hover {
  background-color: #307bbe;
}
