.books-form-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
  margin-right: 40px;
}

.new-book {
  color: #888;
  border-top: 2px solid  #e8e8e8;
  height: 0.125rem;
  padding-top: 10px;
}

.books-form-input {
  width: 40%;
  height: 2.813rem;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: #c4c4c4;
  margin-top: -10px;
}

.books-form-input:focus {
  outline: none;
}

.books-form-button {
  cursor: pointer;
  width: 18%;
  padding: 12px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 0.813rem;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}

.books-form-button:hover {
  background-color: #0039cb;
}

.books-form-button:active {
  background-color: #0020a8;
}
