.books-form-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  background-color: #f5f6fa;
  margin-right: 40px;
  margin-top: 30px;
}

.new-book {
  color: #888;
  border-top: 2px solid  #e8e8e8;
  height: 0.125rem;
  padding-top: 40px;
}

.form-container {
  width: 70%;
  background-color: #f5f6fa;
}

.books-form-input {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: #121212;
  width: 90%;
}

.books-form-input:focus {
  border: 1px solid #0290ff;
  outline: #0290ff;
}

.books-form-button {
  cursor: pointer;
  width: 30%;
  height: 50px;
  padding: 12px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 0.813rem;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  margin-top: -5px;
}

.books-form-button:hover {
  background-color: #0039cb;
}

.books-form-button:active {
  background-color: #0020a8;
}
